@font-face {
    font-family: 'HankenGrotesk';
    src: url('./assets/fonts/HankenGrotesk-VariableFont_wght.ttf') format('truetype');
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'HankenGrotesk', sans-serif;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    align-content: center;
    background: hsl(221, 100%, 96%);
}

p{
    font-size: 18px;
}

.mainContainer{
    width: 650px;
    height: 420px;
    justify-self: center;
    display: flex;
    background: white;
    border-radius: 25px;
    box-shadow: 0px 5px 10px 1px rgba(211, 211, 211, 0.5);
}

.result, .summary{
    height: 100%;
    width: 50%;
}

.result{
    border-radius: 25px;
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 2%;
    justify-content: center;
    color: white;
}
.result span{
    font-weight: 500;
    font-size: 1.2em;
    color: hsl(241, 100%, 89%);
}
.result div{
    background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    border-radius: 100%;
    width: 170px;
    height: 170px;
    align-self: center;
    margin: 25px 0px 15px 0px;
    align-content: center;
}
.result div h1{
    font-size: 3.5em;
}
.result p{
    color: hsl(241, 100%, 89%);
    padding: 0px 2.3em;
    font-size: .9em;
    margin-top: 15px;
}

.summary{
    background: transparent;
    padding: 2em;
}
.summary h3{
    color: hsl(224, 30%, 27%);
}
.scoreList{
    display: flex;
    flex-direction: column;
    height: 80%;
    justify-content: space-evenly;
}
.singleScore{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45px;
    font-size: 1em;
    padding: 10px;
    background: lightcyan;
    border-radius: 10px;
}
.singleScore h4{
    display: flex;
}
.singleScore h4 img{
    margin-right: 7px;
}
.singleScore p{
    color: gray;
    font-size: 1em;
}
.singleScore p span{
    color: hsl(224, 30%, 27%);
    font-weight: 600;
}

.summary button{
    width: 100%;
    height: 45px;
    background: hsl(224, 30%, 27%);
    color: white;
    border-radius: 25px;
    font-weight: 600;
    font-size: 1em;
}
.summary button:active{
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));;
}

.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (max-width:500px) {
    .mainContainer{
        flex-direction: column;
        width: 100%;
        height: 100%;
    }
    .result, .summary{
        height: 50%;
        width: 100%;
    }
    .result{
        border-radius: 0px 0px 25px 25px;
    }
}